<config>    
    <modules>
        <Concalma_Dropship>
            <version>0.1.0</version>
        </Concalma_Dropship>
    </modules>

<frontend>
        <routers>
            <dropship>
                <use>standard</use>
                <args>
                    <module>Concalma_Dropship</module>
                    <frontName>dropship</frontName>
                </args>
            </dropship>
             <checkout>
                <args>
                    <modules>
                         <Concalma_Dropship before="Mage_Checkout">Concalma_Dropship_Checkout</Concalma_Dropship>
                    </modules>
                </args>
            </checkout>
        </routers>  
        
         <layout>
            <updates>
                <dropship>
                    <file>concalma_dropship.xml</file>
                </dropship>
            </updates>
        </layout>
    </frontend>
    
    <admin>
    	
    	<routers>
            <dropship>
                <use>admin</use>
                <args>
                    <module>Concalma_Dropship</module>
                    <frontName>dropship</frontName>
                </args>
            </dropship>
        </routers>
    </admin>
    
    <!-- admin html -->
       
    <adminhtml>
        <menu>
            <dropship module="dropship">
                <title>Dropship</title>
                <sort_order>71</sort_order>
                <children>
                    <warehouse module="dropship">
                        <title>Manage Warehouse</title>
                        <sort_order>0</sort_order>
                        <action>dropship/adminhtml_dropship/index</action>
                    </warehouse>
                     <shipmethod module="dropship">
                        <title>Combined Shipping methods</title>
                        <sort_order>10</sort_order>
                        <action>dropship/adminhtml_shipmethod/index</action>
                    </shipmethod>
                   
                </children>
                
            </dropship>
        </menu>
     
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Concalma_Dropship>
                            <title>Dropship Module</title>
                            <sort_order>10</sort_order>
                        </Concalma_Dropship>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <dropship>
                    <file>concalma_dropship.xml</file>
                </dropship>
            </updates>
        </layout>
    </adminhtml> 
    <!-- end of admin html --> 
   <global>
   			<models>
            <dropship>
                <class>Concalma_Dropship_Model</class>
                <resourceModel>dropship_mysql4</resourceModel>
            </dropship>
            <dropship_mysql4>
                <class>Concalma_Dropship_Model_Mysql4</class>
                <entities>
                  <dropship>
                        <table>dropship</table>
                    </dropship>
                    
                  
                    <zipcodes>
                        <table>zip_codes</table>
                    </zipcodes>
                    
                </entities>
            </dropship_mysql4>
            
            <sales>
               <rewrite>
                    <quote_address>Concalma_Dropship_Model_Quote_Address</quote_address>
                    <quote_address_rate>Concalma_Dropship_Model_Quote_Address_Rate</quote_address_rate>
               </rewrite>
               <shipping>
                  <carriers>
                     <rewrite>
                        <ups>Concalma_Dropship_Model_Shipping_Carrier_Ups</ups>
                        <usps>Concalma_Dropship_Model_Shipping_Carrier_Usps</usps>
                        <fedex>Concalma_Dropship_Model_Shipping_Carrier_Fedex</fedex>
                        <dhl>Concalma_Dropship_Model_Shipping_Carrier_Dhl</dhl>
                     </rewrite>
                  </carriers>
               </shipping>
            </sales>
            
             <shipping>
               <rewrite>
                    <shipping>Concalma_Dropship_Model_Shipping</shipping>
               </rewrite>
            </shipping>
            
            <checkout>
                <rewrite>
                	<type_onepage>Concalma_Dropship_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        
        <resources>
            <dropship_setup>
                <setup>
                    <module>Concalma_Dropship</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dropship_setup>
            <dropship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dropship_write>
            <dropship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dropship_read>
            
            
        </resources>
   			<blocks>
   				<dropship>
   					<class>Concalma_Dropship_Block</class>
   				</dropship>
   			</blocks>
   			
   			<helpers>
            <dropship>
                <class>Concalma_Dropship_Helper</class>
            </dropship>
        </helpers>
   </global>
</config>
