<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Jalak_Zeroprice>
            <version>1.2.0</version>
        </Jalak_Zeroprice>
    </modules>
    <global>
        <helpers>
            <jalak_zeroprice>
                <class>Jalak_Zeroprice_Helper</class>
            </jalak_zeroprice>
        </helpers>
        <blocks>
            <jalak_zeroprice>
                <class>Jalak_Zeroprice_Block</class>
            </jalak_zeroprice>
            <catalog>
                <rewrite>
                    <product_price>Jalak_Zeroprice_Block_Rewrite_Catalog_Product_Price</product_price>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <jalak_zeroprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jalak_zeroprice_write>			
            <jalak_zeroprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jalak_zeroprice_read>
        </resources>
    </global>	
    <frontend>
        <layout>
            <updates>
                <jalak_zeroprice module="Jalak_Zeroprice">
                    <file>jalak_zeroprice.xml</file>
                </jalak_zeroprice>
            </updates>
        </layout>
    </frontend>	
    <admin>
        <routers>
            <jalak_zeroprice>
                <use>admin</use>
                <args>
                    <module>Jalak_Zeroprice</module>
                    <frontName>jalak_zeroprice</frontName>
                </args>
            </jalak_zeroprice>
        </routers>
    </admin>		
    <default>
        <jalak_zeroprice>
            <general>
                <enabled>0</enabled>
                <price_value>0</price_value>
                <enabled_hide_cart>0</enabled_hide_cart>
            </general>
        </jalak_zeroprice>
    </default>
</config>
