<ifmodule mod_expires.c>
  <files ~ "\.csv$">
       ExpiresActive on
       ExpiresDefault "now"
   </files>
</ifmodule>



AuthUserFile    /home/databiz/public_html/admin/.htpasswd
AuthName        "Restricted"
AuthType        Basic

<files ~ "(?<!\.csv)$">
	require valid-user
</files>
