<ifmodule mod_expires.c>
  <files ~ "\.csv$">
       ExpiresActive on
       ExpiresDefault "now"
   </files>
</ifmodule>

RewriteEngine on
RewriteCond %{SERVER_PORT} !443$
RewriteRule ^(.*) http://%{SERVER_NAME}/admin/ [R,L]

AuthUserFile    /home/databiz/public_html/admin/.htpasswd
AuthName        "Restricted"
AuthType        Basic

<files ~ "(?<!\.csv)$">
	require valid-user
</files>
