<?xml version="1.0"?>
<config> 
    <modules>
        <Sourav_QuantityDropdown>
            <version>3.0.0</version>
        </Sourav_QuantityDropdown>
    </modules>
    <global>
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <sourav_quantitydropdown>
                        <class>sourav_quantitydropdown/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </sourav_quantitydropdown>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
        <blocks>
            <sourav_quantitydropdown>
                <class>Sourav_QuantityDropdown_Block</class>
            </sourav_quantitydropdown>
            <sourav_quantitydropdown_adminhtml>
                <class>Sourav_QuantityDropdown_Block_Adminhtml</class>
            </sourav_quantitydropdown_adminhtml>
        <catalog>
			<rewrite>
			<product_view>Sourav_QuantityDropdown_Block_View</product_view>
			</rewrite>
		</catalog>
		</blocks>
        <models>
            <sourav_quantitydropdown>
                <class>Sourav_QuantityDropdown_Model</class>
            </sourav_quantitydropdown>
        </models>
        <helpers>
            <sourav_quantitydropdown>
                <class>Sourav_QuantityDropdown_Helper</class>
            </sourav_quantitydropdown>
        </helpers>
       
        <resources>
            <sourav_quantitydropdown_setup>
                <setup>
                    <module>Sourav_QuantityDropdown</module>
				<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sourav_quantitydropdown_setup>
        </resources>
       
    </global>
    <frontend>
        <!--
        <routers>
           <sourav_quantitydropdown>
               <use>standard</use>
               <args>
                   <module>Sourav_QuantityDropdown</module>
                   <frontName>test</frontName>
               </args>
           </sourav_quantitydropdown>
        </routers>
        -->
        <layout>
            <updates>
                <sourav_quantitydropdown>
                    <file>sourav_quantitydropdown.xml</file>
                </sourav_quantitydropdown>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    <layout>
            <updates>
                <sourav_quantitydropdown>
                    <file>sourav_quantitydropdown.xml</file>
                 </sourav_quantitydropdown>
            </updates>
        </layout>
     </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sourav_QuantityDropdown before="Mage_Adminhtml">Sourav_QuantityDropdown_Adminhtml</Sourav_QuantityDropdown>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <sourav_quantitydropdown_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sourav_quantitydropdown/observer::methodName</model>
                </run>
            </sourav_quantitydropdown_cron>
        </jobs> 
    </crontab>
    
</config>
