<?
	require_once("/home/bocawebgroup/public_html/one-write/inc/config.inc");
	header("Last-Modified: ".gmdate('D, d M Y H:i:s T', getlastmod()));
	header("Content-Type: text/css");
?>

body {
	background-color: #000000;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div, td, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tdcolor{
	font-weight: bold;
	color: #000000;
}

.smtitle {
	font-size : 17px;
	font-weight : bold;
	font-style : italic;
}



a {
	color: #000099;
}

a:hover {
	color: #000000;
}


.smalltext {
	font-size : 12px;
}


.formscroll {
	scrollbar-arrow-color: #000000;
    scrollbar-base-color: #000000;
    scrollbar-face-color: #ffffff;

}

.title {
	font-size : 24px;
	font-weight : bold;
	font-style : italic;
}

.smallhead {
	font-size : 10px;
}

.smbold {
	font-size : 10px;
	font-weight : bold;
}

.regbold {
	font-size : 12px;
	font-weight : bold;
}

.medbold {
	font-size : 15px;
	font-weight : bold;
	color: #0A50A1;
}

.medboldc{
	font-size : 15px;
	font-weight : bold;
	color: #0A50A1;
}

.medboldw{
	font-size : 15px;
	font-weight : bold;
	color: #ffffff;
}


.bigbold {
	font-size : 18px;
	font-weight : bold;
}

.bigboldc  {
	font-size : 17px;
	font-weight : bold;
	color: #006262;
}

.bigboldw {
	font-size : 16px;
	font-weight : bold;
	color: #ffffff;
}

.smboldw {
	font-size : 13px;
	font-weight : bold;
	color: #ffffff;
}

.smboldy {
	font-size : 13px;
	font-weight : bold;
	color: #ffff33;
}

HR {
    color: #000000;
    size: 5px;
    width: 95%;
	noshade
}

.footer {
	font-size : 10px;
}

.product_light {
	background-color:#D8D8D8;
}

.product_dark {
	background-color:#EAEAEA;
}

.bar {
	background-color: #000099;
	color:#FFFFFF;
}

h1 {
	background-color : #000099;
	font-size : 18px;
	font-weight : bold;
	text-align : center;
	color:#FFFFFF;
	padding:3px 0 3px 0;
}

h1 {
	background-color : #000099;
	font-size : 14px;
	font-weight : bold;
	text-align : center;
	color:#FFFFFF;
	padding:3px 0 3px 0;
}

.title_bar {
	background-color : #000099;
	font-size : 18px;
	font-weight : bold;
	text-align : center;
	color:#FFFFFF;
}

.success {
	font-weight:bold;
	color:green;
}

.error {
	font-weight:bold;
	color:red;
}

/*Rest of this is for Menu System*/

/*Control DIV for expand all and collapse all links*/
#p7TMctrl {
	margin: 0 0 0 0;
	font-size: 10px;
	display: none;
	/*/*/display: block; /* */
}
#p7TMctrl a:link {
	color: #FFFFFF;
}
#p7TMctrl a:visited {
	color: #FFFFFF;
}
#p7TMctrl a:hover {
	color: #000000;
}

/*Sets line-height of all top-level menuitems*/
#p7TMnav div {
	/*/*/line-height: 1.5; /* */
}
/*Sets line-height of all other menuitems*/
/*second level menuitem divs and lower -Cascades to lower levels-*/
/*Sets left margin to .8em establishing a fluid cascading indent*/
#p7TMnav div div {
	/*/*/line-height: 1.1; /* */
}

/*Sets background color and border around the menu DIV*/
#p7TMnav {
	display:block;
}

/*The Link style for top-level menuitems and is read by all browsers*/
#p7TMnav div a {
	color: #FFFFFF;
	font-size: 11px;
	font-weight:bold;
}
/*The Link style for top-level menuitems hidden from Netscape 4*/
#p7TMnav div a, #p7TMnav div a:visited {
	display: block;
	margin:2px;
	text-decoration: none;
	background-color: #0A50A1;
	color:#FFFFFF;
	font-size: 11px;
	padding:2px;
}
#p7TMnav div a:hover {
	background-color: transparent;
}

/*The Link and visited styles combined for second-level menuitems*/
#p7TMnav div div a, #p7TMnav div div a:visited {
	color: #FFFFFF;
	background-color:#000000;
	font-weight:bold;
	display:block;
	padding-left:10px;
	font-size: 10px;
}
#p7TMnav div div a:hover {
	color:#FFFFFF;
	background-color: transparent;
	font-size: 10px;
}

/*The Link style for third-level menuitems and lower*/
/*To set a specific style for the fourth level, add a div to the selector*/
/*Fourth-level example syntax: p7TMnav div div div div a {declaration}*/
#p7TMnav div div div a, #p7TMnav div div div a:visited {
	display:block;
	padding-left:20px;
	background-color: #000000;
	font-size: 9px;
}

#p7TMnav div div div a:hover {
	color:#FFFFFF;
	background-color: transparent;
	font-size: 9px;
}

#p7TMnav div div div div a, #p7TMnav div div div div a:visited {
	display:block;
	padding-left:30px;
	color:#FFFFFF;
	background-color: #0A50A1;
}

#p7TMnav div div div div a:hover {
	color:#FFFFFF;
	background-color: transparent;
}

#p7TMnav div div div div div a, #p7TMnav div div div div div a:visited {
	display:block;
	padding-left:60px;
	color:#000000;
	background-color:#FFFF41;
}

#p7TMnav div div div div div a:hover {
	color:#FFFFFF;
	background-color: transparent;
}

/*rules programatically assigned to parent links when image-based plus and minus option is selected. The padding on the 4 following rules supercedes (via !important) the padding on the p7TMnav div a selector when you've chosen the option to use images for the plus and minus signs*/
.p7plusmark {
	background-repeat: no-repeat;
	background-image: url(<?=DOCUMENT_BASE?>/images/p7t_plus.gif);
	background-position: 8px 50%;
}
.p7minusmark {
	background-repeat: no-repeat;
	background-image: url(<?=DOCUMENT_BASE?>/images/p7t_minus.gif);
	background-position: 8px 50%;
}

/*rule programatically assigned to child links when image-based plus and minus option is selected*/
.p7defmark {
	background-image:  none;
}

/*rules programatically assigned to page link correesponding to current page (You are Here)*/
a.p7currentmark {
	font-weight: bold;
	color: #FFFFFF !important;
	background-color: #CC0000 !important;
}
